

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}





/* CSS */

.br{
  border : 1px solid red;
}

body{
  background-color: black !important;
}




h1{


  text-shadow: 1px 1px 2px red, 0 0 1em red, 0 0 0.2em red, 0 0 0.2em red, 0 0 0.2em red!important;
  color: white;
}


h4{


  text-shadow: 1px 1px 2px red, 0 0 1em red, 0 0 0.2em red, 0 0 0.2em red, 0 0 0.2em red!important;
  color: white;
}

p{
  color: white;
}


/* CSS effet néon */

.neonRougeText{
  text-shadow: 1px 1px 2px red, 0 0 1em red, 0 0 0.3em red, 0 0 0.3em red, 0 0 0.3em red;

}

.neonRougeText:hover{
  text-shadow: 1px 1px 2px blue, 0 0 1em blue, 0 0 0.3em blue, 0 0 0.3em blue, 0 0 0.3em blue;

}

.neonRougeText:active{
  text-shadow: 1px 1px 2px green, 0 0 1em green, 0 0 0.3em green, 0 0 0.3em green, 0 0 0.3em green;

}




.neonRouge{
  box-shadow: 1px 1px 2px red, 0 0 1em red, 0 0 0.3em red, 0 0 0.3em red, 0 0 0.3em red;

}

.neonRougeFixe{
  box-shadow: 1px 1px 2px red, 0 0 1em red, 0 0 0.3em red, 0 0 0.3em red, 0 0 0.3em red;

}

.neonRougeFixe:hover{
  box-shadow: 1px 1px 2px red, 0 0 1em red, 0 0 0.3em red , 0 0 0.3em red , 0 0 0.3em red , 0 0 0.3em red , 0 0 0.3em red , 0 0 0.3em red , 0 0 0.3em red , 0 0 0.3em red , 0 0 0.3em red , 0 0 0.3em red , 0 0 0.3em red , 0 0 0.3em red , 0 0 0.3em red, 0 0 0.3em red, 0 0 0.3em red;

}


.neonRouge:hover{ 
  
  /* background-color: transparent!important; */
  box-shadow: 1px 1px 2px blue, 0 0 1em blue, 0 0 0.3em blue, 0 0 0.3em blue, 0 0 0.3em blue;


  
}

.neonRouge:active{ 
  
  /* background-color: transparent!important; */
  box-shadow: 1px 1px 2px green, 0 0 1em green, 0 0 0.3em green, 0 0 0.3em green, 0 0 0.3em green;

}

.btneonRed{
  box-shadow: 1px 1px 2px red, 0 0 1em red, 0 0 0.3em red, 0 0 0.3em red, 0 0 0.3em red!important;

}

.btneonRed:hover{
  box-shadow: 1px 1px 2px red, 0 0 1em red, 0 0 0.3em red, 0 0 0.3em red , 0 0 0.3em red , 0 0 0.3em red , 0 0 0.3em red , 0 0 0.3em red , 0 0 0.3em red , 0 0 0.3em red , 0 0 0.3em red, 0 0 0.3em red!important;
  background-color: black!important;
  text-shadow: 1px 1px 2px red, 0 0 1em red, 0 0 0.3em red, 0 0 0.3em red, 0 0 0.3em red;

}



.neonBlue{
  box-shadow: 1px 1px 2px blue, 0 0 1em blue, 0 0 0.3em blue, 0 0 0.3em blue, 0 0 0.3em blue !important;

}

.neonblueFixe{
  box-shadow: 1px 1px 2px blue, 0 0 1em blue, 0 0 0.3em blue, 0 0 0.3em blue, 0 0 0.3em blue;

}

.neonBlueText{
  text-shadow: 1px 1px 2px blue, 0 0 1em blue, 0 0 0.3em blue, 0 0 0.3em blue, 0 0 0.3em blue !important;
  color: white;
}


.hrBlue{
  border: 1px solid white!important;
  box-shadow: 1px 1px 2px red, 0 0 1em red, 0 0 0.3em red, 0 0 0.3em red, 0 0 0.3em red, 0 0 0.3em red , 0 0 0.3em red , 0 0 0.3em red , 0 0 0.3em red , 0 0 0.3em red , 0 0 0.3em red  , 0 0 0.3em red , 0 0 0.3em red , 0 0 0.3em red;

}

.btneonBlue{
  box-shadow: 1px 1px 2px blue, 0 0 1em blue, 0 0 0.3em blue, 0 0 0.3em blue, 0 0 0.3em blue;

}

.btneonBlue:hover{
  box-shadow: 1px 1px 2px blue, 0 0 1em blue, 0 0 0.3em blue, 0 0 0.3em blue , 0 0 0.3em blue , 0 0 0.3em blue , 0 0 0.3em blue , 0 0 0.3em blue , 0 0 0.3em blue , 0 0 0.3em blue , 0 0 0.3em blue, 0 0 0.3em blue!important;
  background-color: black!important;
  text-shadow: 1px 1px 2px blue, 0 0 1em blue, 0 0 0.3em blue, 0 0 0.3em blue, 0 0 0.3em blue;

}

.neonGreen{
  box-shadow: 1px 1px 2px green, 0 0 1em green, 0 0 0.3em green, 0 0 0.3em green, 0 0 0.3em green;

}


.neonGreenText{
  text-shadow: 1px 1px 2px green, 0 0 1em green, 0 0 0.3em green, 0 0 0.3em green, 0 0 0.3em green;
  color: white;
}

.neonWhiteText{
  text-shadow: 1px 1px 2px white, 0 0 1em white;

}

.neonPink{
  box-shadow: 1px 1px 2px rgb(255, 0, 179), 0 0 1em rgb(255, 0, 179), 0 0 0.3em rgb(255, 0, 179), 0 0 0.3em rgb(255, 0, 179), 0 0 0.3em rgb(255, 0, 179)!important;

}


.neonPinkText{
  text-shadow: 1px 1px 2px rgb(255, 0, 179), 0 0 1em rgb(255, 0, 179), 0 0 0.3em rgb(255, 0, 179), 0 0 0.3em rgb(255, 0, 179), 0 0 0.3em rgb(255, 0, 179)!important;
  color: white;
}


/* 
.back{
  background:url(../public/tatooinecreate.jpg);
}
 */





/* CSS RechercheRecette */
/* .swfont{
  font-family: ;
} */


.cardtext{
  color: white;

}

.cardbackground{
  background-color: rgb(43, 43, 43);
}



/*CSS Footer*/
.textSize{
  font-size:130%;
}

/* anti décoration */
a{
  text-decoration: none!important;
}



/* à mettre dans un css Recherche */
Button{
  background-color: gray !important;
  box-shadow: 1px 1px 2px red, 0 0 1em red, 0 0 0.3em red, 0 0 0.3em red, 0 0 0.3em red;

}


Button:hover{
  background-color: rgb(184, 184, 184) !important;
  box-shadow: 1px 1px 2px blue, 0 0 1em blue, 0 0 0.3em blue, 0 0 0.3em blue, 0 0 0.3em blue;


}

Button:active{
  background-color: rgb(184, 184, 184) !important;
  box-shadow: 1px 1px 2px green, 0 0 1em green, 0 0 0.3em green, 0 0 0.3em green, 0 0 0.3em green;


}

input{
  box-shadow: 1px 1px 2px red, 0 0 1em red, 0 0 0.3em red, 0 0 0.3em red, 0 0 0.3em red;

}

input:hover{
  box-shadow: 1px 1px 2px blue, 0 0 1em blue, 0 0 0.3em blue, 0 0 0.3em blue, 0 0 0.3em blue;

}



/* CSS position absolue */
.parent {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 10px;
}
.childone {
  
 
  background: none;
}

.child1 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.7;
  background: none;
  text-align: left;
}
.child2 {
  z-index: 1;
  margin: 30px;
  background: green;
}


/* CSS Arrow */

body {
	background: #333;
}


*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }


.mouse_scroll {
	display: block;
	margin: 0 auto;
	width: 24px;
	height: 100px;
	margin-top: 125px;
}


.m_scroll_arrows
{
  display: block;
  width: 5px;
  height: 5px;
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);

  border-right: 2px solid red;
  border-bottom: 2px solid red;
  margin: 0 0 3px 4px;
  
  width: 16px;
  height: 16px;
}


.unu
{
  margin-top: 1px;
}

.unu, .doi, .trei
{
    -webkit-animation: mouse-scroll 1s infinite;
    -moz-animation: mouse-scroll 1s infinite;
    animation: mouse-scroll 1s infinite;
  
}

.unu
{
  -webkit-animation-delay: .1s;
  -moz-animation-delay: .1s;
  -webkit-animation-direction: alternate;
  
  animation-direction: alternate;
  animation-delay: alternate;
}

.doi
{
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  -webkit-animation-direction: alternate;
  
  animation-delay: .2s;
  animation-direction: alternate;
  
  margin-top: -6px;
}

.trei
{
  -webkit-animation-delay: .3s;
  -moz-animation-delay: .3s;
  -webkit-animation-direction: alternate;
  
  animation-delay: .3s;
  animation-direction: alternate;
  
  
  margin-top: -6px;
}

.mouse {
  
  height: 42px;
  width: 24px;
  border-radius: 14px;
  transform: none;
  box-shadow: 1px 1px 2px red, 0 0 1em red, 0 0 0.3em red, 0 0 0.3em red, 0 0 0.3em red;

  border: 2px solid white;
  top: 170px;
}

.wheel {
  height: 5px;
  width: 2px;
  display: block;
  margin: 5px auto;
  
  background: white;
  position: relative;
  
  height: 4px;
  width: 4px;
  border: 2px solid #fff;
  -webkit-border-radius: 8px;
          border-radius: 8px;
}

.wheel {
  -webkit-animation: mouse-wheel 0.6s linear infinite;
  -moz-animation: mouse-wheel 0.6s linear infinite;
  animation: mouse-wheel 0.6s linear infinite;
}


/* Media queris*/

@-webkit-keyframes mouse-wheel{
   0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
  }
}
@-moz-keyframes mouse-wheel {
  0% { top: 1px; }
  25% { top: 2px; }
  50% { top: 3px;}
  75% { top: 2px;}
  100% { top: 1px;}
}
@-o-keyframes mouse-wheel {

   0% { top: 1px; }
  25% { top: 2px; }
  50% { top: 3px;}
  75% { top: 2px;}
  100% { top: 1px;}
}
@keyframes mouse-wheel {

   0% { top: 1px; }
  25% { top: 2px; }
  50% { top: 3px;}
  75% { top: 2px;}
  100% { top: 1px;}
}

@-webkit-keyframes mouse-scroll {

  0%   { opacity: 0;}
  50%  { opacity: .5;}
  100% { opacity: 1;}
}
@-moz-keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@-o-keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}



@media only screen and (max-width: 995px) and (min-width: 100px)  {
  .childone {
    visibility: hidden;
  }
}

/* @media only screen and (min-width: 995px)  {
  .child1 {
    
  }
} */


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
